.contact-us {
    background-color: #5cd6d6;
    margin-top: 15rem;
    color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-us__text-content {
    padding: 4rem 0;
    flex-basis: 50%;
}

.contact-us h2 {
    margin-top: 2rem;
    margin-left: 6rem;
    text-align: left;
    color: #f8f8f8;
}

.contact-us__text {
    font-size: 2rem;
    line-height: 2;
    font-weight: 400;
    margin-left: 6rem;
    letter-spacing: 1px;
    margin-top: 2rem;
}

.contact-us__action {
    padding: 2rem 0;
    text-align: right;
    margin: 0 6rem;
    flex-basis: 50%;
    background-color: #f8f8f8;
    border-radius: 100px;
}

.contact-us__action a {
    margin: .5rem;
    font-size: 2rem;
    background-color: #7a0099;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.contact-us__action a:hover {
    background-color: #f8f8f8;
    color: #7a0099;
    border: 2px solid #7a0099;
}


@media only screen and (max-width: 700px) {
    .contact-us {
        flex-wrap: wrap;
        padding-bottom: 4rem;
    }
}