.contacts {
    font-size: 1.6rem;
    background-color: #222;
    color: #f8f8f8;
    padding: 1.7rem 6rem;
    display: flex;
    justify-content: flex-end;
}

.contacts__info {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
}

.icon__email {
    font-size: 1.8rem;
    margin-right: 1rem;
}

.icon__phone {
    font-size: 1.5rem;
    margin-right: .5rem;
}